@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


/* toastify */
@import 'react-toastify/dist/ReactToastify.css';

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
html,
body,
.scrollbar-hide {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollbar-none {
  scrollbar-width: none;
}

/* Toast background */
.custom-toast {
  background-color: var(--primary) !important;
  color: white !important;
  border-left: 5px solid var(--button);
}

/* Toast progress bar */
.Toastify__progress-bar {
  background: var(--button) !important;
}

/* Close (X) icon in Toastify */
.Toastify__close-button {
  color: white !important;
}

.Toastify__close-button:hover {
  opacity: 0.8;
}


:root {
  --primary-light: #0a1521;
  --primary: #030b17;
  --primary-dark: #01070f;

  --secondary1-light: #347d88;
  --secondary1: #104851;
  --secondary1-dark: #0a363e;

  --secondary2-light: #296ba2;
  --secondary2: #0d3960;
  --secondary2-dark: #0e2c49;

  --button: #051a52;
  --button-hover: #0e2974;

  --text-heading: #ffff;
  --text-subheading: #babdc0;
  --text-body: #babdc0;

  --text-link: #51626b;
  --text-link-hover: #10f284;
  --text-highlighted: #12a05b;

  --grad1: rgba(9, 25, 70, 1);
  --grad2: rgba(14, 102, 64, 0.7);
}

/* :root {
  --primary-light: #0a1521;
  --primary: #030b17;
  --primary-dark: #01070f;

  --secondary1-light: #347d88;
  --secondary1: #104851;
  --secondary1-dark: #0a363e;

  --secondary2-light: #296ba2;
  --secondary2: #0d3960;
  --secondary2-dark: #0e2c49;

  --button: #051a52;
  --button-hover: #0e2974;

  --text-heading: #ffff;
  --text-subheading: #babdc0;
  --text-body: #babdc0;

  --text-link: #51626b;
  --text-link-hover: #6C0BA9;
  --text-highlighted: rgba(108, 11, 169, 1);

  --grad1: rgba(9, 25, 70, 1);
  --grad2: rgba(108, 11, 169, 0.5);
} */